<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- Include the macro if you want to use a centralized SRDF macro -->
  <!-- <xacro:include filename="$(find ur_moveit_config)/srdf/ur_macro.srdf.xacro"/> -->

  <xacro:macro name="ur16e_srdf" params="name prefix">

    <!-- Arm planning group -->
    <group name="${prefix}${name}_manipulator">
      <chain base_link="${prefix}base_link" tip_link="${prefix}tool0"/>
    </group>

    <!-- Predefined group states -->
    <group_state name="${prefix}home" group="${prefix}${name}_manipulator">
      <joint name="${prefix}shoulder_pan_joint" value="0"/>
      <joint name="${prefix}shoulder_lift_joint" value="-1.5707"/>
      <joint name="${prefix}elbow_joint" value="0"/>
      <joint name="${prefix}wrist_1_joint" value="0"/>
      <joint name="${prefix}wrist_2_joint" value="0"/>
      <joint name="${prefix}wrist_3_joint" value="0"/>
    </group_state>

    <group_state name="${prefix}up" group="${prefix}${name}_manipulator">
      <joint name="${prefix}shoulder_pan_joint" value="0"/>
      <joint name="${prefix}shoulder_lift_joint" value="-1.5707"/>
      <joint name="${prefix}elbow_joint" value="0"/>
      <joint name="${prefix}wrist_1_joint" value="-1.5707"/>
      <joint name="${prefix}wrist_2_joint" value="0"/>
      <joint name="${prefix}wrist_3_joint" value="0"/>
    </group_state>

    <group_state name="${prefix}test_configuration" group="${prefix}${name}_manipulator">
      <joint name="${prefix}shoulder_pan_joint" value="1.54"/>
      <joint name="${prefix}shoulder_lift_joint" value="-1.62"/>
      <joint name="${prefix}elbow_joint" value="1.4"/>
      <joint name="${prefix}wrist_1_joint" value="-1.2"/>
      <joint name="${prefix}wrist_2_joint" value="-1.6"/>
      <joint name="${prefix}wrist_3_joint" value="-0.11"/>
    </group_state>

    <!-- Disabled collisions -->
    <disable_collisions link1="${prefix}base_link" link2="${prefix}base_link_inertia" reason="Adjacent"/>
    <disable_collisions link1="${prefix}base_link_inertia" link2="${prefix}shoulder_link" reason="Adjacent"/>
    <disable_collisions link1="${prefix}tool0" link2="${prefix}wrist_1_link" reason="Never"/>
    <disable_collisions link1="${prefix}tool0" link2="${prefix}wrist_2_link" reason="Never"/>
    <disable_collisions link1="${prefix}tool0" link2="${prefix}wrist_3_link" reason="Adjacent"/>
    <disable_collisions link1="${prefix}forearm_link" link2="${prefix}upper_arm_link" reason="Adjacent"/>
    <disable_collisions link1="${prefix}forearm_link" link2="${prefix}wrist_1_link" reason="Adjacent"/>
    <disable_collisions link1="${prefix}shoulder_link" link2="${prefix}upper_arm_link" reason="Adjacent"/>
    <disable_collisions link1="${prefix}wrist_1_link" link2="${prefix}wrist_2_link" reason="Adjacent"/>
    <disable_collisions link1="${prefix}wrist_1_link" link2="${prefix}wrist_3_link" reason="Never"/>
    <disable_collisions link1="${prefix}wrist_2_link" link2="${prefix}wrist_3_link" reason="Adjacent"/>

  </xacro:macro>

  <!-- Call the macro -->
  <xacro:ur16e_srdf name="ur16e" prefix=""/>

</robot>