<?xml version="1.0"?>
<model>
  <name>plug</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Your Name</name>
    <email>you@example.com</email>
  </author>

  <description>
    EV charger plug model for UR16e end-effector simulation.
  </description>
</model>